@font-face {
  font-family: BrownFont;
  src: url("/fonts/BrownLight\ Regular.ttf");
}

html,
body {
  font-family: BrownFont, "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --app-bg-color: #2ec4b6;
  --app-form-color: #ffffff;
  --app-button-color: #2ec4b6;
}
